# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# Android
local.properties
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
freeline.py
freeline/
freeline_project_description.json

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# Misc
*.log
*.tmp
/app/release/
/app/debug/
bootstrap-*.zip
app/amcode-release.jks
DEVELOPMENT.md
